@model TraversalCoreProject.Areas.Member.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Ad")
    <input type="text" asp-for="name" class="form-control" />
    <br />

    @Html.Label("Soyad")
    <input type="text" asp-for="surName" class="form-control" />
    <br />

    @Html.Label("Mail Adresi")
    <input type="text" asp-for="mail" class="form-control" />
    <br />

    @Html.Label("Şifre")
    <input type="password" asp-for="password" class="form-control" />
    <br />

    @Html.Label("Şifre Tekrarı")
    <input type="password" asp-for="confirmPassword" class="form-control" />
    <br />

    @Html.Label("Telefon Numarası")
    <input type="text" asp-for="phoneNumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Fotoğraf Seçin</label>
        <input type="file" asp-for="Image" />

    </div>
    <br />
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>

